.proposals-page-section {
  padding: 0 0 120px; }
  @media screen and (max-width: 767px) {
    .proposals-page-section {
      padding-bottom: 50px; } }
  .proposals-page-section .section-caption {
    margin-bottom: 30px; }
  .proposals-page-section .section-text {
    width: 100%;
    max-width: 920px;
    margin: 0 auto 35px;
    text-align: center; }
  .proposals-page-section .tabs-nav {
    margin-bottom: 35px; }
