// Fonts
$main-font: 'Roboto', Arial, sans-serif;
$second-font: 'PT Serif', serif;
// $third-font: 'Playfair Display SC', serif;

// Colors
$biege: #cc7e58;
$brown: #4c280d;
$brown-2: #412007;
// $purple: #692f78;
// $white: #F9FAFA;

$gradient-start: $biege;
$gradient-end: #94482f;

$gradient: linear-gradient(to bottom, $gradient-start 0%, $gradient-end 50%, $gradient-end 100%);

$dark: #261d17;
$gray: #261d17;
$light: #9c9793;

$text-color: $gray;
$text-dark: $dark;
$text-light: $light;

$primary: $biege;
$accent: $biege;

// Params
$body-bg: #fff; // site background
$t: .3s; // animation duration
$r: 5px; // default border radius
$shadow: 3px 3px 40px rgba(#000, 0.17); // default card shadow