.certs-section{
	position: relative;

	.section-inner{
		display: flex;
		align-items: flex-start;
	}

	.section-content{
		// position: relative;
		width: 340px;
		margin-right: 65px;
		flex: none;
		min-height: 194px;
		display: flex;
		align-items: center;

		&:before{
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 0;
			transform: translateX(-50%);
			background: #f9f7f6;
			height: 194px;
			width: 100vw;
			z-index: -1;
		}

		&:after{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			width: 301px;
			height: 194px;
			left: 50%;
			transform: translateX(-960px);
			background: url(../img/backgrounds/branch.jpg) no-repeat center top;
			z-index: -1;

			@media screen and (max-width: 1599px){
				transform: translateX(-840px);
			}
		}

		@media screen and (max-width: 1199px){
			justify-content: center;

			.section-caption{
				justify-content: center;
				text-align: center;
			}

			&:after{
				transform: translateX(-700px);
			}
		}

		@media screen and (max-width: 991px){
			justify-content: flex-start;
			width: 210px;
			margin-right: 40px;

			.section-caption{
				justify-content: flex-start;
				text-align: left;
			}

			&:after{
				transform: translateX(-700px);
			}
		}

		@media screen and (max-width: 767px){
			justify-content: center;

			.section-caption{
				justify-content: center;
				text-align: center;
			}

			&:after{
				height: 120px;
				background-size: contain;
				transform: translateX(-350px);
			}
		}
	}

	.section-slider{
		position: relative;
		width: calc(100% - 340px - 65px);
		padding-right: 15px;

		&:before{
			content: '';
			display: block;
			position: absolute;
			left: 100%;
			top: 0;
			transform: translateX(-15px);
			background: #fff;
			height: 194px;
			width: 100vw;
			z-index: -1;
		}

		@media screen and (max-width: 991px){
			width: calc(100% - 210px - 40px);
		}
	}

	.section-caption{
		margin-bottom: 0;
		position: relative;

		@media screen and (max-width: 575px){
			position: static;
		}
	}

	@media screen and (max-width: 767px){
		.section-inner{
			flex-direction: column;
		}

		.section-content{
			width: 100%;
			min-height: 120px;
			margin-bottom: 15px;
			margin-right: 0;

			&:before{
				height: 120px;
			}
		}

		.section-slider{
			width: 100%;
			padding-right: 0;
		}
	}

	.slick-arrow{
		background: url(../img/icons-sprite.png);
		background-position: -1px -0px;
		width: 40px;
		height: 12px;
		transform: translateY(0);
		top: -10px;
		position: static;

		&:before{
			display: none;
		}

		&.slick-prev{
			transform: rotate(-180deg);
		}

		&:hover{
			opacity: .7;
		}

		&.slick-next{
			margin-left: 20px;
		}

		&.slick-prev{
			left: auto;
		}

		@media screen and (max-width: 767px){
			top: -25px;
			position: absolute;

			&.slick-next{
				right: 10px;
				margin-left: 0;
			}

			&.slick-prev{
				right: 70px;
			}
		}

		@media screen and (max-width: 575px){
			&.slick-next{
				right: 50%;
				transform: translateX(50px);
			}

			&.slick-prev{
				right: 50%;
				transform: rotate(-180deg) translateX(10px);
			}
		}
	}
}

.cert-card{
	display: flex;
	flex-direction: column;
	color: inherit;
	transition: all $t;
	width: 100%;

	.card-image{
		padding: 11px;
		position: relative;
		background: #e8e8e8;
		transition: background $t;
		display: flex;
		align-items: center;
		justify-content: center;

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}

		.zoom{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 46px;
			height: 46px;
			border-radius: 50%;
			background: $gradient;
			background-size: 100% 200%;
			background-position: center top;
			transition: all $t;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 2;
			opacity: 0;

			svg{
				width: 22px;
				height: 22px;
				display: block;
				fill: #fff;
			}

			&:hover{
				background-position: center bottom;
			}
		}
	}

	.card-content{
		padding: 20px 30px;
		text-align: center;
		border-bottom: 2px solid transparent;
		transition: all $t;
	}

	&:hover,
	&:focus{
		outline: none;
		box-shadow: 0 5px 15px rgba(#000, .3);

		.card-image{
			background: #fff;

			.zoom{
				opacity: 1;
			}
		}

		.card-content{
			border-bottom-color: $primary;
		}
	}
}

.certs-slider{
	.slide{
		outline: none !important;
	}
}

.cert-slider-arrows{
	position: absolute;
	left: 0;
	top: calc(100% + 80px);
	display: flex;
	align-items: center;
}