.services-catalog-section{
	padding: 0 0 50px;

	.section-caption{
		margin-bottom: 30px;
	}

	.section-inner{
		display: flex;
		align-items: flex-start;
	}

	.section-sidebar{
		width: 270px;
		flex: none;
		margin-right: 30px;
		border: 1px solid #f0ebe8;
	}

	@media screen and (max-width: 991px){
		.section-inner{
			flex-direction: column;
			align-items: stretch;
		}

		.section-sidebar{
			width: 100%;
			margin-right: 0;
			margin-bottom: 30px;
		}
	}

	@media screen and (max-width: 767px){
		padding-bottom: 20px;
	}
}

.categories-subnav{
	list-style: none;

	li{
		font-size: 12px;
		line-height: 1.5;
		margin-bottom: 6px;
		color: $brown;

		&:last-child{
			margin-bottom: 0;
		}

		a{
			color: inherit;

			&:hover{
				color: $primary;
				text-decoration: underline;
			}
		}

		&.current-menu-item,
		&.current-menu-parent{
			a{
				color: $primary;
				text-decoration: underline;
			}
		}

		&.current-menu-item{
			a{
				cursor: default;
			}
		}
	}
}