.video-tour-section{
	position: relative;

	.section-inner{
		display: flex;
		width: calc(100% + 15px * 2);
		margin-left: -15px;
		margin-right: -15px;

		.section-content,
		.section-video{
			padding-left: 15px;
			padding-right: 15px;
			width: 50%;
		}

		@media screen and (max-width: 991px){
			width: calc(100% + 10px * 2);
			margin-left: -10px;
			margin-right: -10px;

			.section-content,
			.section-video{
				padding-left: 10px;
				padding-right: 10px;
			}
		}

		@media screen and (max-width: 767px){
			flex-direction: column-reverse;

			.section-content,
			.section-video{
				width: 100%;
				padding-left: 0;
				padding-right: 0;
			}

			.section-content{
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}

	.video-mobile-descr{
		display: none;

		@media screen and (max-width: 767px){
			display: block;
			text-align: center;
			margin-bottom: 15px;

			br{
				display: none;
			}
		}
	}

	.section-content{
		position: relative;
		padding-top: 35px;
		padding-bottom: 50px;
		padding-right: 35px !important;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
		text-align: right;

		.section-bg{
			background: url(../img/video-tour/video-tour-bg.jpg) no-repeat top left;
			background-color: #f9f7f6;
			height: 194px;
			width: calc(50vw + 30px);
			min-width: 975px;
			position: absolute;
			right: -15px;
			top: 0;
			z-index: -1;
		}

		@media screen and (max-width: 767px){
			padding-right: 15px !important;

			.section-bg{
				background: #f9f7f6;
				height: 171px;
			}

			.video-descr{
				display: none;
			}
		}

		@media screen and (max-width: 575px){
			.section-bg{
				height: 155px;
			}
		}
	}

	.section-caption{
		margin-bottom: calc(35px * 2);

		strong{
			color: $primary;
		}
	}

	.section-image{
		position: absolute;
		right: 390px;
		top: 32px;

		@media screen and (max-width: 1199px){
			right: 350px;
		}

		@media screen and (max-width: 991px){
			right: 270px;
			top: 130px;
		}

		@media screen and (max-width: 767px){
			right: 300px;
			top: 30px;
		}

		@media screen and (max-width: 575px){
			right: 210px;
		}
	}
}