.header{
	background: #fff;
	z-index: 100;
	width: 100%;
	// left: 0;
	top: 0;
	overflow: hidden;
	box-shadow: 0 0 1px rgba(#333, .7), 0 3px 20px rgba(#000, .11);
	background: #fff;
	// transition: all $t;
	position: absolute;

	&:hover{
		overflow: visible;
	}

	.header-row{
		&.first{
			padding: 20px 0;
			position: relative;
			z-index: 2;
			transition: all $t;

			@media screen and (min-width: 1200px){
				.header-block.left{
					min-width: 415px;
				}
			}

			@media screen and (max-width: 359px){
				.header-block.left{
					display: none;
				}
			}
		}

		&.second{
			position: relative;
			border-top: 1px solid #f0ebe8;

			@media screen and (max-width: 767px){
				display: none;
			}
		}
	}

	.header-inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: calc(100% + 15px * 2);
		margin-left: -15px;
		margin-right: -15px;

		.header-block{
			padding: 0 15px;
		}

		@media screen and (max-width: 991px){
			width: calc(100% + 10px * 2);
			margin-left: -10px;
			margin-right: -10px;

			.header-block{
				padding: 0 10px;
			}
		}
	}

	&.sticky{
		position: fixed;
		transform: translateY(-110px);

		@media screen and (max-width: 991px){
			transform: translateY(-84px);
		}

		@media screen and (max-width: 767px){
			transform: translateY(0);

			.header-row.first{
				padding: 8px 0;
			}
		}
	}

	@media screen and (max-width: 767px){
		position: fixed;
	}
}

.logo-block{
	display: block;

	img{
		display: block;
		height: 70px;
		width: auto;

		@media screen and (max-width: 991px){
			height: 44px;
		}
	}

	&:hover{
		opacity: .8;
	}
}

.header-contacts-block{
	display: flex;
	white-space: nowrap;

	.block-left{
		text-align: right;
		font-size: 12px;
		line-height: 20px;
		letter-spacing: 0.025em;
		color: $text-light;
		margin-right: 30px;
	}

	.block-right{
		display: flex;
		align-items: center;
	}

	.block-icon{
		margin-left: 25px;
		height: 36px;
		width: 36px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid #f0ebe8;
		flex: none;

		i{
			display: block;
		}

		&:hover{
			border-color: $primary;
		}
	}

	@media screen and (max-width: 767px){
		flex-direction: column;

		.block-left{
			text-align: left;
			color: $text-dark;
			margin-right: 0;
			margin-bottom: 10px;
		}

		.block-right{
			flex-direction: row-reverse;
			justify-content: flex-end;

			.block-icon{
				margin-left: 0;
				margin-right: 15px;
			}
		}
	}
}

.top-nav{
	display: flex;
	justify-content: center;
	white-space: nowrap;

	> ul{
		list-style: none;
		display: flex;

		> li{
			margin-right: 20px;

			&:last-child{
				margin-right: 0 !important;
			}

			> a{
				display: block;
				font-size: 14px;
				line-height: 55px;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				color: $brown;
				position: relative;
				padding: 0 10px;

				&:after{
					content: '';
					display: block;
					transition: all $t;
					height: 2px;
					background: $primary;
					position: absolute;
					left: 0;
					bottom: 1px;
					width: 0;
				}

				&:hover{
					color: $primary;

					&:after{
						width: 100%;
					}
				}

				@media screen and (max-width: 991px){
					font-size: 12px;
					padding: 0 5px;
				}
			}

			&.current-menu-item,
			&.current-menu-parent{
				> a{
					color: $primary;

					&:after{
						width: 100%;
					}
				}
			}
			
			&.current-menu-item{
				> a{
					cursor: default;
				}
			}

			@media screen and (max-width: 1199px){
				margin-right: 10px;
			}
		}
	}
}